mm10.chrom.sizes
processing.log
metaprofiles_conditions.done
*.bed
*.pdf
*.txt
*.bam
*.bigwig
*.bw
*.done
*.gz
*.log
*.txt
*.gtf
*.gff
*.err
*.out
*.png

archive/DATA/wetransfer_cpg_islands-bed_2024-10-31_1228.zip
